{{- define "topLevelSingleValProperties"}}
  new(
    {{- range $name, $schema := .TopLevelSingleValProperties}}
    {{objectInflection ($schema.HumanName $name)}}={{$schema.DefaultJSON}},
    {{- end}}
  ):: {
    {{- range $name, $schema := .TopLevelSingleValProperties}}
    [if {{$name}} != null then '{{$name}}']: {{objectInflection ($schema.HumanName $name)}},
    {{- end}}
{{- end}}

{{- define "readOnlyWithDefaultProperties"}}
    {{- range $ms := .ReadOnlyWithDefaultProperties}}
    {{range $i, $level := $ms.Location -}}
    {{if eq (add 1 $i) (len $ms.Location)}}{{$level}}: {{$ms.Schema.DefaultJSON}}{{repeat " }" (subtract (len $ms.Location) 1)}}{{else}}{{$level}}+: { {{end}}{{end}},
    {{- end}}
{{- end}}

{{- define "topLevelObjectProperties"}}
    {{range $topName, $schema := .TopLevelObjectProperties}}
    {{objectInflection (printf "set %s" ($schema.HumanName $topName))}}(
      {{- range $ms := $schema.ConstructableProperties}}
      {{objectInflection ($ms.Schema.HumanName $ms.Name)}}={{$ms.Schema.DefaultJSON}},
      {{- end}}
    ):: self {}
      {{range $ms := $schema.ConstructableProperties -}}
      + { {{$topName}}+: {{range $i, $level := $ms.Location -}}
      { {{if eq (add 1 $i) (len $ms.Location)}}{{$level}}: {{objectInflection ($ms.Schema.HumanName $ms.Name)}}{{repeat " }" (len $ms.Location)}}{{else}}{{$level}}+: {{end}}{{end}} }
      {{end}},
    {{end}}
{{- end}}

{{- define "appendableProperties"}}
    {{range $ms := .AppendableProperties}}
    {{singularize (objectInflection (printf "add %s" ($ms.Schema.HumanName $ms.Name)))}}(
      {{- range $name, $schema := $ms.Schema.Items.Properties}}
      {{objectInflection ($schema.HumanName $name)}}={{$schema.DefaultJSON}},
      {{- end}}
    ):: self {}
      + {{range $i, $level := $ms.Location -}}
      { {{$level}}+: {{if eq (add 1 $i) (len $ms.Location)}}[{
        {{- range $name, $schema := $ms.Schema.Items.Properties}}
        {{$name}}: {{objectInflection ($schema.HumanName $name)}},
        {{- end}}
      }]{{repeat " }" (len $ms.Location) -}}
      {{- end}}
      {{- end}},
    {{end}}
{{- end}}
