{
  {{- template "topLevelSimpleProperties" .}}

    {{- template "readOnlyWithDefaultProperties" .}}

    {{- template "topLevelObjectProperties" .}}

    {{- template "nestedComplexArrayProperties" .}}

    panels: [],
    _nextPanel:: 2,
    addPanel(panel):: self {
      local nextPanel = super._nextPanel,
      _nextPanel: nextPanel + 1,
      panels+: [panel { id: nextPanel }],
    },
    addPanels(panels):: std.foldl(function(d, p) d.addPanel(p), panels, self),

    templating: { list: [] },
    addTemplates(templates):: self {
      templating+: { list+: templates },
    },
    addTemplate(t):: self.addTemplates([t]),
  },
}
