{
  {{- template "topLevelSimpleProperties" .}}

    {{- template "readOnlyWithDefaultProperties" .}}

    {{- template "topLevelObjectProperties" .}}

    {{- template "nestedComplexArrayProperties" .}}

    _nextTarget:: 0,
    addTarget(target):: self {
      local nextTarget = super._nextTarget,
      _nextTarget: nextTarget + 1,
      targets+: [target { refId: std.char(std.codepoint('A') + nextTarget) }],
    },
    addTargets(targets):: std.foldl(function(p, t) p.addTarget(t), targets, self),
  },
}
