{{template "comment" .}}

{
  {{- template "topLevelSimpleProperties" .}}

    {{- template "readOnlyWithDefaultProperties" .}}

    {{- template "topLevelObjectProperties" .}}

    {{- template "nestedComplexArrayProperties" .}}
  },
}
