{
  new(
    {{- range $name, $schema := .MutableProperties}}
    {{$name}}={{$schema.DefaultJSON}},
    {{- end}}
  ):: {
    {{- range $name, $schema := .MutableProperties}}
    {{$name}}: {{$name}},
    {{- end}}
  },
}
